<h1>Reporter</h1>

<a href="welcome/login">Login</a>
<button onclick="alert('hello');" value="sample"></button>

<h2>TIMELINE</h2>

<div class="navi">
  <a href="welcome/post">Reportする</a>
</div>

<div class="main">
  <% @docs.each do |doc| %>
  <div class="items">
    <div class="title">
      <h3><%= doc.title %></h3>
    </div>
    <div class="content">
      <blockquote><%= doc.content %></blockquote>
    </div>
  </div>
  <% end %>
</div>
