<h1>ツイート</h1>

<form action="post_blog" method="POST">
  <div class="label">Title</div>
  <input type="text" name="title">
  <div class="label">Content</div>
  <textarea name="content" rows="5" cols="100"></textarea><br>
  <input type="submit" value="投稿">
</form>
